<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="iniciarSesion()">
        <ion-icon name="person-add-outline"></ion-icon>
        Iniciar Sesión
      </ion-tab-button>
      <ion-tab-button tab="videocam" (click)="nuevaPelicula()">
        <ion-icon name="videocam"></ion-icon>
        Nueva pelicula
      </ion-tab-button>
      <ion-tab-button tab="create-outline" (click)="editarPelicula()">
        <ion-icon name="create-outline"></ion-icon>
        Edita Pelicula
      </ion-tab-button>
      <ion-tab-button tab="list-outline" (click)="listarPelicula()">
        <ion-icon name="list-outline"></ion-icon>
        Listado
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
