/* Centrar el formulario dentro de un contenedor con un margen */
.form-container {
    margin: 10px;
    padding: 15px;
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para darle profundidad */
  }
  
  /* Eliminar márgenes innecesarios en los ion-input dentro del contenedor */
  ion-item {
    margin-bottom: 12px;
  }
  
  /* Estilo general de los botones */
  ion-button {
    margin-top: 15px;
    --background: #d9534f; /* Color rojo para los botones */
    --color: white;
    --border-radius: 10px;
  }

  
  /* Estilo para los placeholders */
  ion-input::part(input) {
    color: rgba(255, 255, 255, 0.7); /* Blanco suave para el texto del placeholder */
  }
  
  /* Modificar el color del título de la película */
  ion-label {
    font-weight: bold;
    color: #d9534f; /* Color rojo para el texto de las etiquetas */
  }
  
  /* Cambiar color y tamaño de los ion-title */
  ion-title {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }

  ion-card {
    margin: 10px;
    padding: 10px;
  }
  
  ion-input {
    margin-bottom: 10px;
    text-align: center; /* Centra el texto dentro de los inputs */
    background-color: white;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }

  .input-container{
    margin: 20px;
}


  
  