<ion-header [translucent]="true">
  <!-- Header transparente -->
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido principal -->
  
  <ion-header collapse="condense">
    <!-- Header condensible -->
  </ion-header>
  
  <br>
  
  <!-- Campos de entrada -->
  <ion-input type="text" label="Titulo Pelicula" placeholder="Ingrese el título"></ion-input>
  <br>
  <ion-input type="date" label="Año de lanzamiento" placeholder="Ingrese el año"></ion-input>
  <br>
  <ion-input type="text" label="Director" placeholder="Ingrese el nombre del director"></ion-input>
  <br>
  <ion-input type="text" label="Género" placeholder="Ingrese el género"></ion-input>
  <br>
  <ion-input type="text" label="Sinopsis" placeholder="Ingrese la sinopsis"></ion-input>
  <br>
  <ion-input type="time" label="Duración (min)" placeholder="Ingrese la duración en minutos"></ion-input>
  <br>
  <ion-input type="url" label="Imagen" placeholder="Ingrese la URL de la imagen"></ion-input>
  
  <br>
  
  <!-- Botón de agregar -->
  <ion-button (click)="cambiarPagina()" shape="round" expand="full" fill="outline">Agregar</ion-button>
</ion-content>
