<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agregar-usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agregar-usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-input label="Nombre Usuario" label-placement="floating" fill="outline" placeholder="inegresa tu usuario"></ion-input>
  <br>
  <ion-input type ="email" label="Correo" label-placement="floating" fill="outline" placeholder="ingresa el texto"></ion-input>
  <br>
  <ion-input type="date" label="Fecha de Nacimiento" label-placement="floating" fill="outline" placeholder="Selecciona una fecha"></ion-input>
  <br>
  <ion-input type="text" label="Contraseña" label-placement="floating" fill="outline" placeholder="Crea una contraseña"></ion-input>
  
  <br>
  <ion-button (click)="cambiarPagina()" shape="round" expand="full" fill="outline" >Agregar</ion-button>

</ion-content>
