/* Cambiar el color de los textos en ion-title y centrarlo */
ion-title {
    color: white;
    text-align: center; /* Centra el texto del título */
   
}

/* Cambiar el color de los textos dentro de los inputs y centrarlo */
ion-input {
    color: black;
    text-align: center; /* Centra el texto dentro de los inputs */
    background-color: white;
}

/* Cambiar el color de los placeholders de los inputs */
ion-input ::ng-deep .input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input-container{
    margin: 20px;
}

ion-input{
    margin-bottom: 10px;
}

ion-card-content{
    background-color: white;
}
