<ion-header [translucent]="true">
  <!-- Header transparente -->
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresa tus datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <form>
            <ion-input type="email" label="Correo" label-placement="floating" fill="outline"
              placeholder="Ingresa tu usuario"></ion-input>
            <ion-input type="password" label="Contraseña" label-placement="floating" fill="outline"
              placeholder="Crea una contraseña"></ion-input>
            <ion-button (click)="cambiarPagina()" shape="round" expand="full" fill="outline" >Iniciar sesión</ion-button>
            <ion-button (click)="registro()" shape="round" expand="full" fill="outline" color="danger">Registrarse</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-card-content> 
  </ion-card>
</ion-content>