<ion-header [translucent]="true">
  <!-- Header transparente -->
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear nueva cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <form>
            <ion-input name="firstName" type="text" label="Nombre Usuario"  label-placement="floating" fill="outline"
              placeholder="Ingresa tu usuario"></ion-input>
            <ion-input name="email" label="Correo electrónico"  label-placement="floating" fill="outline"
              placeholder="Ingresa tu correo"></ion-input>
            <ion-input name="birhtday" type="date" label="Fecha de Nacimiento" label-placement="floating" fill="outline"
              placeholder="Selecciona una fecha"></ion-input>
            <ion-input name="password" type="password" label="Contraseña" label-placement="floating" fill="outline"
              placeholder="Crea una contraseña"></ion-input>
            <ion-input type="confirmPassword" label="Repite tu contraseña" label-placement="floating" fill="outline"
              placeholder="Repite tu contraseña"></ion-input>
            <ion-button (click)="register()" shape="round" expand="full" fill="outline" >Crear cuenta</ion-button>
            <ion-button (click)="cambiarPagina()" shape="round" expand="full" fill="outline" color="danger">Cancelar</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>